CompileFlags:
  Add:
    - -I/usr/local/cuda/include
    - --cuda-path=/usr/local/cuda
    - --cuda-gpu-arch=sm_86
  Remove:
    - -Xcudafe
    - -rdc=true
    - -forward-unknown-to-host-compiler
    - -gencode
    - --diag_suppress=cc_clobber_ignored,--diag_suppress=field_without_dll_interface,--diag_suppress=base_class_has_different_dll_interface,--diag_suppress=dll_interface_conflict_none_assumed,--diag_suppress=dll_interface_conflict_dllexport_assumed,--diag_suppress=bad_friend_decl
    - --expt-relaxed-constexpr
    - --expt-extended-lambda